#!/usr/bin/env bash

# set -x
#layout pyenv $(cat .python-version)

ENV_ADDONS="awssso aws_profile_tools cac"
source "${RC_DIR}/direnv/env_addons.rc"

# Try to encourage pyenv to use our local python version
. deactivate || true
